<config>
    <dev_mode>0</dev_mode>
    <db_host>localhost</db_host>
    <db_name>test_mvc</db_name>
    <db_user>ndronov</db_user>
    <db_password>1wNmOfsTCmE#</db_password>
    <url_root></url_root>
    <app_ver>1.0.0</app_ver>
    <app_name>MVC FRAMEWORK</app_name>
</config>